.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  position: absolute;
  width: 100px;
  top: 375px;
  left: 50px;
}

.baloon {
  position: absolute;
  left: 220px;
  top: 275px;
  z-index: 2;
}

.speach {
  position: absolute;
  font-size: 25px;
  top: 325px;
  left: 250px;
  z-index: 3;
}

.bowser {
  position: absolute;
  width: 200px;
  left: 500px;
  top: 400px;
  z-index: 1;
}