h1, p{
    text-align: center;
}

a {
    text-decoration: none;
  }

li:hover{
    background-color: chartreuse;
}

li:active{
    font-family: cursive;
    color: white;
}

a:active{
    font-family: inherit;
    color: white;   
}

ul, ol{
    list-style: none;
}