.posição{
    text-align: center;
}

.navegação li{
    display: inline-block;
    margin-left: 20px;
    width: 100px;
}

#imagem1{
    /position: absolute;
    top: 10px;
    left: 30px;
    width: 500px;
    height: 200px;
    /z-index: 1;
}

#título1{
    /position: absolute;
    text-align: center;
    top: 40px;
    left: 30px;
    /z-index: 2;
}